/* *{
    margin:0;
    padding:0;
   }
  body{
        background-color: #42378f;
        background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
      }
   .header{
   background-color:#abff95c2;
   height:600px;
   }
   .header .header-text{
      background-color: antiquewhite;
      height: 62px;
   }
/*To align the header properly*/
   .header .header-text .header-align{
     margin-left:500px;
    }
   .header .header-text p{
   color:black;
   /* padding: 20px 40px;
   border-radius:20px;
     list-style: none;
   float: left;       /* float is addded*/
   font-size: 20px;   /*font size is also added*/
   }
   .header .header-text p:hover{
   background-color:rgba(194, 186, 186, 0.562);
   cursor:pointer;
   } */ */



   body{
    margin: 0;
    background-color: #682d67;
}
.bg-area{
    position: fixed;
    left: -50%;
    right: -50%;
    top: 0;
    bottom: 0;
    animation: animate 5s ease-in-out infinite alternate;
    background: linear-gradient(90deg, #a93563 50%, #2d276b);
    opacity: .5;
    z-index: -1;
}
.layer-2{
    animation-direction: alternate-reverse;
    animation-duration:3s;
}
.layer-3{
    animation-duration: 5s;
}
.banner-text{
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
}
.banner-text h2{
    font-family: Shrikhand;
    font-size: 55px;
    letter-spacing: 5px;
    color: #fff;
    margin: 0;
}
.banner-text h3{
    font-size: 30px;
    margin: 0;
    font-family: cursive;
    color: #fff;
}
@keyframes animate{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(50%);
    }
}