   *{
      margin:0;
      padding:0;
     }
    body{
          background-color: #42378f;
          background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
        }
     .header{
     background-color:#abff95c2;
     height:600px;
     }
     .header .header-text{
        background-color: antiquewhite;
        height: 62px;
     }
/*To align the header properly*/
     .header .header-text .header-align{
       margin-left:500px;
      }
     .header .header-text p{
     color:black;
     padding: 20px 40px;
     border-radius:20px;
       list-style: none;
     float: left;       /* float is addded*/
     font-size: 20px;   /*font size is also added*/
     }
     .header .header-text p:hover{
     background-color:rgba(194, 186, 186, 0.562);
     cursor:pointer;
     }
